!!!
%html
  %head
  %body
    %center.hero-unit
      %h1 Sample App
      %p "Ruby on Rails Tutorial Sample App"
      = link_to "Sign up now!", sign_up_path, class: "btn btn-large btn-primary"
      </br>
    = link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'

